{% extends "bases/listen.html" %}

{% block content %}
{{ super() }}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Bad keyword</h2>
            <p>You've entered an unacceptable keyword. Please try a different one!</p>
            <p>Keywords must:</p>
            <ul>
                <li>be between 3 and 15 characters long;</li>
                <li>not be a part of a very common word.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
