{% extends "bases/listen.html" %}

{% block head %}
{{ super() }}

<title>Listen to Twitter</title>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                {% include "blocks/keyword-box.html" %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>

        <div class="col-sm-6">
            <p><strong>Listen To Twitter</strong> allows you to convert the sentiment of any topic into a unique musical melody in real-time. The happier the general discussion, the higher the pitch of each note; the more tweets there are, the faster the notes play.</p>
            <p>Enter a keyword above to start playing.</p>
            <p>Try the following words: <a href="/keyword/christmas">christmas</a>, <a href="/keyword/sad">sad</a> and <a href="/keyword/happy">happy</a>.</p>
        </div>

        <div class="col-sm-3"></div>
    </div>
</div>
{% endblock %}
