{% extends "page.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/socket.io-0.9.16.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/soundmanager-2-nodebug.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/jquery.flot-0.8.3.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/noisyclient.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/keyword.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/notes.js') }}"></script>

<script type="text/javascript">
$(document).ready(function() {
    startNoisyClient("{{ keyword }}", '{{ websocket_url }}');
});
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Live tweets</h2>
            <div id="live-tweets">
                <table id="tweets-table" class="table">
                    <thead>
                        <tr>
                            <th>Tweet</th>
                            <th>Mood</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-8">
            <h2>Mood graph</h2>
            <div id="mood-graph"></div>

            <h2>Emoji stream</h2>
            <div id="emoji-stream"></div>
        </div>
    </div>
</div>
{% endblock %}
