<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/3rdparty/cerulean-bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/jquery-1.11.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/jquery.tooltipsy-0.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/keyword-box.js') }}"></script>

        {% block head %}{% endblock %}
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1><a href="/">Listen{% if is_listening %}ing{% endif %} to <strong>
                        <form id="keyword-form" action="javascript:void(0);">
                            </a><input id="keyword-input" type="text" value="{{ keyword }}" autocomplete="off" autofocus><a href="/">
                            <input type="submit">
                        </form>
                    </strong> on Twitter</a></h1>

                    <hr>
                </div>
            </div>
        </div>

        {% block content %}{% endblock %}

        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <hr>

                    <p><!-- TODO add footer text here --></p>
                </div>
            </div>
        </div>

        <a href="https://github.com/musalbas/listentotwitter" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="{{ url_for('static', filename='img/3rdparty/forkme_right_gray_6d6d6d.png') }}" alt="Fork me on GitHub"></a>
    </body>

</html>
