<!DOCTYPE html>
<html>

    <head>
        <title></title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/3rdparty/cerulean-bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/jquery-1.11.1.min.js') }}"></script>

        {% block head %}{% endblock %}
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>

</html>
